<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Witam na mojej stronie!</h1>
<p>znajdziesz tutaj takie fajne rzeczy jak:</p>
<ul> <l1> pythona</l1>
    <l1> django</l1>
    <li>i wszystko!</li></ul>
</body>
</html>

echo "# django_web_page" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/kuba1302/django_web_page.git
git push -u origin main